.toggles {
  margin: 0;
  padding: 0;
  width: 62px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.toggle__button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  width: 12px;
  height: 12px;
  position: relative;
  outline: none;
  opacity: 0.3;
}
.toggle__button:hover {
  opacity: 0.6;
}
.toggle__button:focus {
  opacity: 0.6;
}
.toggle__button:active {
  opacity: 0.1;
}
.toggle__button:before {
  content: '';
  position: absolute;
  border-radius: 3px;
  border: 3px solid #000000;
  left: 3px;
  top: 3px;
}
.active.toggle__button:before {
  position: absolute;
  border-radius: 6px;
  width: 6px;
  height: 6px;
  border: 3px solid #000000;
  top: 0px;
  left: 0px;
}
