.round-button {
	display: inline-block;
	text-decoration: none;
	line-height: 18px;
	font-size: 18px;
	font-family: "Open Sans Bold", sans-serif;
	color: #ffffff;
	border: 3px solid #ffffff;
	border-radius: 30px;
	padding: 15.5px 37px;
	outline: none;

	&:hover {
		background-color: #ffffff;
		color: #d22856;
	}

	&:focus {
		background-color: #ffffff;
		color: #d22856;
	}

	&:active {
		color: rgba(210, 40, 86, 0.3);
	}
}

.round-button--red {
	color: #d22856;
	border: 3px solid #d22856;
	background-color: transparent;

	&:hover {
		background-color: #d22856;
		color: #ffffff;
	}

	&:focus {
		background-color: #d22856;
		color: #ffffff;
	}

	&:active {
		color: rgba(255, 255, 255, 0.3);
	}
}

.round-button--gray {
	opacity: 0.1;
	color: #283645;
	border: 3px solid #283645;

	&:hover {
		opacity: 0.3;
		color: #283645;
		border: 3px solid #283645;
	}

	&:focus {
		opacity: 0.3;
		color: #283645;
		border: 3px solid #283645;
	}

	&:active {
		opacity: 0.3;
		color: #ffffff;
		background-color: #283645;
	}
}

@media (min-width: @tablet-width){
	.round-button--intro {
		padding: 15.5px 44px;
		font-size: 18px;
	}
}

@media (min-width: @desktop-width) {
	.round-button--intro {
		font-size: 21px;
		padding: 15.5px 28px;
	}
}