.price {
	background-color: #f2f2f2;
}

.price__wrapper {
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.price__table {
	width: 840px;
	box-sizing: border-box;
	border-collapse: collapse;
	margin-bottom: 41px;
}

.price__header {
	background-color: #283645;
	color: #ffffff;
	text-align: center;
}

.price__header td {
	margin: 0;
	padding: 0;
	width: 278px;
	padding-top: 17px;
	padding-bottom: 20px;
	border-left: 2px solid #e5e5e5;
	box-sizing: border-box;
}

.price__hit {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		left: -26px;
		top: 12px;
		border-bottom: 28px solid #d22856;
		border-left: 28px solid transparent;
		border-right: 28px solid transparent;
		width: 46px;
		transform: rotate(-45deg);
	}
	&:after {
		content: "ХИТ";
		position: absolute;
		font-family: "Open Sans Bold", sans-serif;
		left: 9px;
		top: 12px;
		transform: rotate(-45deg);
	}
}

.price__header td:first-child {
	border-left: none;
}

.price__name {
	margin: 0 auto;
	padding: 0;
	font-family: "Open Sans Bold", sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 1px;
	display: block;
}

.price__value {
	font-family: "Open Sans Light", sans-serif;
	margin: 0;
	padding: 0;
	font-size: 24px;
}

.price__body {
	text-transform: uppercase;
}

.price__body td {
	border: 2px solid #e5e5e5;
	background-color: #ffffff;
	border-top: none;
	padding: 15px 0px 14px 22px;
}

.price__body td:first-child,
.price__header td:first-child {
	display: none;
}

.price__icon {
	position: relative;
	float: right;
}

.price__icon--check.price__icon {
	top: 15px;
	right: 45px;

	&:before {
		content: "";
		position: absolute;
		width: 16px;
		height: 3px;
		background-color: #3dc644;
		left: -7px;
		top: 5px;
		transform: rotate(45deg);
	}

	&:after {
		content: "";
		position: absolute;
		width: 28px;
		height: 3px;
		background-color: #3dc644;
		left: 1px;
		top: 1px;
		transform: rotate(-45deg);
	}
}

.price__icon--cross.price__icon {
	top: 12px;
	right: 52px;

	&:before {
		content: "";
		position: absolute;
		width: 35px;
		height: 3px;
		background-color: #f25b26;
		left: 0px;
		top: 0px;
		transform: rotate(45deg);
	}

	&:after {
		content: "";
		position: absolute;
		width: 35px;
		height: 3px;
		background-color: #f25b26;
		left: 0px;
		top: 0px;
		transform: rotate(-45deg);
	}
}

	.price__toggles {
		margin-bottom: 47px;
	}

	.price__first-slide {
		transform: translateX(280px);
	}

	.price__second-slide {
		transform: translateX(0px);
	}

	.price__third-slide {
		transform: translateX(-280px);
	}

@media (min-width: @tablet-width) {
	.price__table {
		width: 620px;
		margin-bottom: 65px;
	}

	.price__header {
		background-color: #f2f2f2;
	}

	.price__header td:first-child {
		width: 0px;
	}

	.price__header td {
		width: 155px;
		background-color: #283645; 
		padding-top: 14px;
		padding-bottom: 10px;
	}

	.price__name {
		margin-bottom: -4px;
	}

	.price__hit {

		&:before {
			top: 3px;
			border-bottom: 26px solid #d22856;
		}

		&:after {
			font-family: "Open Sans Light", sans-serif;
			left: 7px;
			top: 5px;
		}
	}

	.price__body td:first-child,
	.price__header td:first-child {
		display: block;
	}

	.price__body td {
		text-transform: none;
		border-right: none;
		padding: 5px 0 10px 15px;
	}

	.price__body tr:first-child td:first-child {
		border-top: 2px solid #e5e5e5;
	}

	.price__name {
		font-size: 16px;
	}

	.price__value {
		font-size: 19px;
	}

	.price__hidden {
		display: none;
	}

	.price__icon--check.price__icon {
		top: -4px;
		left: -86px;
	}

	.price__icon--cross.price__icon {
		top: -5px;
		left: -94px;
	}

	.price__toggles {
		display: none;
	}

	.price__first-slide {
		transform: translateX(0px);
	}

	.price__second-slide {
		transform: translateX(0px);
	}

	.price__third-slide {
		transform: translateX(0px);
	}

}

@media (min-width: @desktop-width) {
	.price__table {
		width: 940px;
		margin-bottom: 93px;
	}

	.price__header td {
		padding-bottom: 20px;
		width: 235px;
	}

	.price__name {
		font-size: 18px;
		margin-bottom: 0px;
	}

	.price__value {
		font-size: 24px;
	}

	.price__hit {

		&:before {
			top: 13px;
		}

		&:after {
			left: 11px;
			top: 9px;
		}
	}

	.price__body td {
		font-size: 18px;
		padding: 13px 0px 16px 20px;
	}

	.price__icon--check.price__icon {
		top: 1px;
		left: -127px;
	}

	.price__icon--cross.price__icon {
		top: -2px;
		left: -134px;
	}
}